#GENERAL CONFIGURATIONS
FRONTEND_PORT=3000
BACKEND_PORT=8080
CRON_PORT=8001
AUTH_TYPE=SUPABASE
FRONTEND_BUILD_COMMAND=
BACKEND_BUILD_COMMAND=
CRON_BUILD_COMMAND=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
ECR_FRONTEND_REPO_URI=
ECR_BACKEND_REPO_URI=
ECR_BASE_URI=

#CADDY
CADDY_EMAIL=
FRONTEND_DOMAIN=
BACKEND_DOMAIN=
DOZZLE_DOMAIN=

#INFISICAL
INFISICAL_CLIENT_ID=xxx
INFISICAL_CLIENT_SECRET=xxx
INFISICAL_PROJECT_ID=xxx
INFISICAL_ENV="staging"
INFISICAL_REGION="eu" # Supported values "eu" and "app"

#DOZZLE
DOZZLE_USERNAME=xxx
DOZZLE_EMAIL=xxxx
DOZZLE_PASSWORD=xxx
DOZZLE_PORT=xxx